.main-logo{
    text-decoration:none;
    color: white;
}
.main-logo:hover{
    color: #c65d23;
}
.main{
    min-height:600px;
}
.add-item{
    text-align:center;
}
.main-header{
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

nav {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.navbar-nav {
    margin-left: auto;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    margin-top:100px;
}