body {
    font-family: Arial, sans-serif;
}
.main-add{
    text-align:center;
    padding:50px;
}
.main-add img{
    width:80%;
    border-radius: 20px;
}
h1{
    text-align:center;
}
span{
    white-space: pre;
}
.card{
    padding:30px;
}