body {
    font-family: Arial, sans-serif;
}
.main-add{
    text-align:center;
    padding:50px;
}
.main-add img{
    width:80%;
    border-radius: 20px;
}
h1{
    text-align:center;
}
span{
    white-space: pre;
}
.card{
    padding:30px;
}
.card-job{
    height:450px;
    width:100%;
}
.card-image{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    line-height: 0;
    justify-content: center;
    align-items: center;
}
.card-image img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding:15px;
}
.image-container{
    height:250px;
}
.card-job button{
    width:100%;
}